/About_generated.java
/AssociateExtension_generated.java
/Export_generated.java
/Feedback_generated.java
/GettingStarted_generated.java
/Open_generated.java
/Options_generated.java
/Quit_generated.java
/RecentDocuments_generated.java
/Save_generated.java
/Screenshot_generated.java
